<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>昨日已跑商户列表</title>
    <#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <table class="jqGridTable" id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>
</div>
<script src="${request.contextPath}/statics/js/modules/merchantManager/merchantHasOrder.js?_${.now?long}"></script>
<script>
    function exportExcel(deptId , deptName){
        window.location.href = baseURL + "/merchant/mgr/export" + "?merchantDeptId=" + deptId +"&deptName=" + deptName;
    }
</script>
</body>
</html>