<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>订单管理</title>
    <#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <!--<div class="form-group col-sm-4">-->
            <!--<input class="form-control" type="text" id="starttime" value="" placeholder="开始时间">-->
            <!--</div>-->
            <!--<div class="form-group col-sm-4">-->
            <!--<input class="form-control" type="text" id="endtime" value="" placeholder="结束时间">-->
            <!--</div>-->
            <div class="form-group col-sm-4">
                <input type="text" class="form-control" id="tradeid" placeholder="系统订单号">
            </div>
            <!--<div class="form-group col-sm-4">-->
            <!--<input type="text" class="form-control"  id="orderid" placeholder="商户订单号">-->
            <!--</div>-->
            <!--<div class="form-group col-sm-4">-->
            <!--<input class="form-control" id="merchantid" type="text" style="height: 31px"  placeholder="商户ID">-->
            <!--</div>-->
            <!--<div class="form-group col-sm-4">-->
            <!--<input class="form-control" id="tradeno" type="text" style="height: 31px"  placeholder="银行流水号">-->
            <!--</div>-->
            <!--<div class="form-group col-sm-4">-->
            <!--<select class="form-control" name="status" id="status" placeholder="订单状态">-->
            <!--<option value="" selected>所有</option>-->
            <!--<option value="0" >支付中</option>-->
            <!--<option value="1" >成功</option>-->
            <!--<option value="2" >失败</option>-->
            <!--</select>-->
            <!--</div>-->
            <!--<div class="form-group col-sm-4">-->
            <!--<input type="text" id="merchantName" class="form-control" style="cursor:pointer;" @click="deptTree" readonly="readonly" placeholder="所属部门"/>-->
            <!--<input type="hidden" id="merchantNum" class="form-control" style="cursor:pointer;" readonly="readonly"/>-->
            <!--</div>-->
            <a class="btn btn-default" @click="query">查询</a>
            <!--<a class="btn btn-default" @click="exportExcel">导出</a>-->
        </div>
        <table class="jqGridTable" id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>
</div>
<!-- 选择部门 -->
<div id="deptLayer" style="display: none;padding:10px;">
    <ul id="deptTree" class="ztree"></ul>
</div>
<script src="${request.contextPath}/statics/js/modules/tradeOrderManager/tradeOrderCheck.js?_${.now?long}"></script>
<!--<script src="${request.contextPath}/statics/js/modules/merchantManager/user.js?_${.now?long}"></script>-->
<script src="${request.contextPath}/statics/plugins/layDate/laydate/laydate.js"></script>
<script type="text/javascript">
    var star = laydate.render({
        elem: '#starttime',
        type: 'datetime',
        change: function (value, date) {
            console.log(value);
            end.min = value;
        },
        done: function (value, date, endDate) {

            if (date != '') {

                end.config.min = {

                    year: date.year,

                    month: date.month - 1,

                    date: date.date,

                    hours: date.hours,

                    minutes: date.minutes,

                    seconds: date.seconds

                }; //开始日选好后，重置结束日的最小日期

                end.config.max = {

                    year: date.year,

                    month: date.month - 1,

                    date: date.date + 89,

// hours: date.hours,

// minutes: date.minutes,

// seconds: date.seconds

                }; //开始日选好后，重置结束日的最小日期

                end.config.value = {

                    year: date.year,

                    month: date.month - 1,

                    date: date.date,

                    hours: date.hours,

                    minutes: date.minutes,

                    seconds: date.seconds

                }; //将结束日的初始值设定为开始日

            }

            else {

                end.config.min = {

                    year: '',

                    month: '',

                    date: '',

                    hours: '',

                    minutes: '',

                    seconds: ''

                }; //开始日选好后，重置结束日的最小日期

                end.config.btns = ['clear', 'now', 'confirm'];

            }

        }
    });
    var end = laydate.render({
        elem: '#endtime',
        type: 'datetime',
        done: function (value, date, endDate) {

            if (date != '') {

// start.config.max = {

// year: date.year,

// month: date.month - 1,

// date: date.date,

// hours: date.hours,

// minutes: date.minutes,

// seconds: date.seconds

// }; //结束日选好后，重置开始日的最大日期

            }

            else {

                start.config.max = {

                    year: '',

                    month: '',

                    date: '',

                    hours: '',

                    minutes: '',

                    seconds: ''

                }; //开始日选好后，重置结束日的最小日期

                start.config.btns = ['clear', 'now', 'confirm'];

            }

        }
    });
</script>
</body>
</html>