<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文件上传</title>
    <#include "/header.html">
</head>
<body>

<input id="firstfile" type="file" name="firstfile">

<button onclick="upload()">上传</button>

<br/>

<!--<input id="file1" type="file" name="files">-->

<!--<input id="file2" type="file" name="files">-->

<!--<input id="file3" type="file" name="files">-->

<!--<button onclick="uploads()">多上传</button>-->
<!--<br>-->

<!--<form action="http://localhost:8081/thingsparse/addorupdthingsparse" method="post" enctype="multipart/form-data">-->
<!--<input type="file" name="file" value="选择jar包"/>-->
<!--<input id="submit_form" type="submit" class="btn btn-success save" value="保存"/>-->
<!--</form>-->

<form id="uploadForm" method="post" enctype="multipart/form-data">

    <input id="file1" type="file" name="file1"/>
    <input id="file2" type="file" name="file2"/>
    <input id="file3" type="file" name="file3"/>
    <input id="file4" type="file" name="file4"/>
    <input id="file5" type="file" name="file5"/>
    <input id="file6" type="file" name="file6"/>
    <input id="file7" type="file" name="file7"/>
    <input id="file8" type="file" name="file8"/>

    <input type="button" value="提交" id="btnImportOK">

</form>


<script type="text/javascript">

    function upload() {
        $.ajaxFileUpload
        ({
            url: baseURL +
                '/upload/ToUploadFile', //用于文件上传的服务器端请求地址
            type: 'post',
            secureuri: false, //是否需要安全协议，一般设置为false
            fileElementId: "firstfile", //文件上传域的ID
            data: {
                "userId": 1
            },//一同上传的数据
            dataType: 'json', //返回值类型一般设置为json
            success: function (data, status)  //服务器成功响应处理函数
            {
                if (data > 0) {
                    alert("上传成功");
                } else {
                    alert("上传失败");
                }
            }

        })
    }

    $("#btnImportOK").click(function () {

        var formData = new FormData($("#uploadForm")[0]);
        // console.log(formData)
        $.ajax({
            type: "POST",
            data: formData,
            url: baseURL + "/upload/uploadfiles",
            contentType: false,
            processData: false,
            success: function (data, status) {
                alert("上传提示");
                if (data.code == 0) {
                    alert("上传成功");
                } else {
                    alert("上传失败");
                }
            }
        })
    });


</script>

<script src="${request.contextPath}/statics/plugins/ajaxfileupload.js"></script>
</body>
</html>